
        /* style of login pag */


body{
    margin: 0px;
    padding:0px;
    
}
section{
    margin: 100px auto;
    display: flex;
    justify-content: space-around;

}
header{
    font-size: 50px;
    color: blue;
    margin: 20px;
    font-weight:bolder;
}
form{
    box-shadow: 5px 5px 19px 5px #ccc,-5px -5px 19px 5px #ccc;
   


}
ul{
    list-style: none;
   

}
li{
    margin: 9px auto; 
    padding:10px 20px  ;
    justify-content: center;

}

input{
   
font-size: 30px;}
.login{
    background-color: blue;
    border: 0px;
    margin:0px auto;
    width: 350px;
    border-radius: 10px;

}
.for-pass{
    border: 0px;
    background-color: #fff;
    text-decoration: none;
    
    


}
.a{
    text-decoration: none;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(70, 139, 6);
    color: #000;
    margin:0px auto;
    text-align: center;
    font-size: large;
}
